<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>My AngularJS App</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/css/main.css">
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/html5-boilerplate/js/vendor/modernizr-2.6.2.min.js"></script>

  <style type="text/css">
    form .ng-invalid {
      background-color: #FA787E;
    }

    form .ng-invalid.ng-invalid-required {
      background-color: #fff;
    }

    form .error-message {
      color: #FA787E;
    }
  </style>
</head>
<body ng-app="enejApp">
  <!-- <ul class="menu">
    <li><a href="#/view1">view1</a></li>
    <li><a href="#/view2">view2</a></li>
  </ul> -->

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <h1>Formulário de cadastro</h1>
  <div ng-controller="registrationController as registration">
    <form name="registrationForm" ng-submit="registrationForm.$valid &&registration.enviarForm()">
      <div ng-show="registrationForm.$error.required">
        Campos obrigatórios não preenchidos
      </div>
      <div>
        <label>Nome</label>
        <input type="text" ng-model="registration.user.nome" required>
      </div>  
      <br />
      <div>
        <label>Email</label>
        <input type="email" name="email" ng-model="registration.user.email" required>
        <div ng-show="registrationForm.email.$error.email">
          Email inválido
        </div>
      </div>
      <br />
      <div>
        <label>CPF</label>
        <input type="text"  ng-model="registration.user.cpf" required>
      </div>
      <br />
      <input type="submit" value="registrar">
    </form>
  </div>

  <!-- <div ng-view></div> -->

  <!-- <div>Angular seed app: v<span app-version></span></div> -->

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/jQuery-Mask-Plugin/dist/jquery.mask.min.js"></script>
  <script src="https://cdn.firebase.com/js/client/2.2.1/firebase.js"></script>
  <script type="text/javascript">
    var myFirebase = new Firebase("https://glowing-torch-368.firebaseio.com/");
  </script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="registration/registration.js"></script>
  <script src="lecture/lecture.js"></script>
  <script src="components/input-mask/input-mask.js"></script>
  <script src="components/input-mask/input-mask-directive.js"></script>
  <!--
    <script src="view1/view1.js"></script>
    <script src="view2/view2.js"></script>
    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  -->

  <!-- 
    https://www.npmjs.com/package/bower 
    http://blog.teamtreehouse.com/getting-started-bower
    http://code.tutsplus.com/tutorials/meet-bower-a-package-manager-for-the-web--net-27774
    http://www.vedovelli.com.br/web-development/angularjs-adicionar-novas-propriedades-a-um-campo-de-texto/
  -->
</body>
</html>
